[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ERPM"]
	path = ERPM
	url = https://github.com/stocnet/erpm
[submodule "RSiena"]
	path = RSiena
	url = https://github.com/stocnet/rsiena
[submodule "goldfish"]
	path = goldfish
	url = https://github.com/stocnet/goldfish
[submodule "manynet"]
	path = manynet
	url = https://github.com/stocnet/manynet
[submodule "migraph"]
	path = migraph
	url = https://github.com/stocnet/migraph
